@import './dumbs/exports.css';
:host {
  display: block;
  padding: var(--gap-max);
}
.screenshot {
  display: block;
  object-fit: contain;
  object-position: center center;
  width: 100%;
  border: 1px solid currentColor;
}
.head-img {
  display: block;
  width: 100%;
  height: 240px;
  object-fit: contain;
  object-position: center center;
}
.logo-img {
  height: 120px;
  width: 120px;
}
heading-layout {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.info {
  font-style: italic;
  padding: var(--gap-max);
  border: 1px dashed currentColor;
}
code-mkp[terminal] {
  color: var(--color-terminal);
}

ul {
  list-style-type: none;
}
ul > li {
  margin-bottom: 6px;
  transition: 0.2s;
}
ul > li:hover {
  color: var(--hl-color);
}
ul > li::before {
  content: "> ";
}

a {
  color: currentColor;
}
