dumb-space {
  display: block;
  height: var(--gap-mid, 10px);
  width: var(--gap-mid, 10px);
}
dumb-space[min] {
  height: var(--gap-max, 2px);
  width: var(--gap-max, 2px);
}
dumb-space[max] {
  height: var(--gap-max, 20px);
  width: var(--gap-max, 20px);
}
dumb-space[imline] {
  display: inline-block;
}