my-button {
  --local-height: 32px;
  display: inline-flex;
  align-items: center;
  height: var(--local-height);
  padding-right: 10px;
  border: 1px solid currentColor;
  box-shadow: 3px 3px 0 currentColor;
  cursor: pointer;
  user-select: none;
  transition: 0.2s;
}
my-button:before {
  content: attr(icon);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: var(--local-height);
  margin-right: 6px;
  background-color: var(--color, #000);
  color: var(--bg-color, #fff);
}
my-button:hover {
  box-shadow: 6px 6px 0 currentColor;
}